<h1>Welcome to FootyBet!</h1>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
<html>
   <head>
      <title>Home</title>
   </head>
   <body>
      <label for="cars">Choose a League to subscribe to:</label>
      <select name="cars" id="cars">
         <option value="Premier League">Premier League</option>
         <option value="La Liga">La Liga</option>
         <option value="Ligue 1">Ligue 1</option>
      </select>
      <br><br>
      <label for="filter">Filter Match Data:</label>
      <select name="filter" id="filter">
         <option value="Team">Filter by Team</option>
         <option value="Date">Filter by Date</option>
         <option value="Upcoming Matches">Filter by Upcoming Matches</option>
      </select>
      <br><br>
      <label for="addService">Add Service:</label>
      <input type="text" id="addService" name="addService"><input type="submit" value="Submit">
      <br><br>
      <br />
   </body>
</html>
<html>
<body>


